#root {
  margin: 0 auto;
  display: flex;
  flex: 1;
}
/* define colores globales */
:root {
  --primary: #40189D;
  --color-secondary: #747bff;
  --black: #000000;
  --background: #F2F2F2;
  --white: #ffffff;
  --color-text: #1a1a1a;
  --color-button: #1a1a1a;
  --color-button-hover: #646cff;
  --color-button-focus: #646cff;
}
