.menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    height: 100vh;
}

.menu .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background-color: var(--background);
}

.content .route {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}