.menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    height: 100vh;
}

.menu .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background-color: var(--background);
}

.content .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
}

.content .route {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    height: 100%;
}